@import "_setting";

$cl-height: calc(#{$board-content-height} - #{$gap * 2});
.column {
  flex: 0 0 auto;
  width: 300px;
  margin-left: $gap;
  height: $cl-height;
  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }
  header.column-drag-handle {
    padding-left: 15px;
    height: 36px;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    cursor: pointer;
  }
  footer {
    padding-left: 10px;
    height: 36px;
    line-height: $column-footer-height;
    font-size: 16px;
    font-weight: bold;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
  }
  .card-list {
    margin: 0;
    max-height: calc(
      #{$cl-height} - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: darken($color: $list-bg-color, $amount: 15);
      border-right: 5px solid $list-bg-color;
    }
    .card-ghost {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(5deg);
    }
    .card-ghost-dropdown {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
    }
    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.2);
      border: 1px dashed white;
      margin: 5px;
    }
  }
}
