@import '_setting';
$list-bg-color:#ebecf0;
$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;
$card-border-radius: 30px;
.column {
    flex:0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    &:not(:first-child) {
        margin-left: $gap;
    }
    > * {
        background-color:$list-bg-color;
        color: #333;
        padding:0 8px;
    }
    header {
        padding-left: 15px;
        height: 36px;
        line-height: $column-header-height;
        font-size:16px;
        font-weight: bold;
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
    }
    footer {
        padding-left: 10px;
        height: 36px;
        line-height: $column-footer-height;
        font-size:16px;
        font-weight: bold;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
    }
    ul.task-list{
        list-style-type: none;
        margin:0;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
            width:10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darken($color: $list-bg-color, $amount: 15);
            border-right: 5px solid $list-bg-color;
        }
        li.task-item {
            background-color:white;
            padding:$gap;
            border-radius: $card-border-radius;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
            &:not(:last-child){
                margin-bottom: $gap;
            }
            img {
                display: block;
                width: calc(100% + 2 * #{$gap});
                margin: -$gap 0 $gap (-$gap);
                border-top-left-radius: $column-border-radius;
                border-top-right-radius: $column-border-radius;
            }
            
        }
    }
}