@import "_setting.scss";

body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.3em;
}
.App {
  overflow: hidden;
  height: 100vh;
  // display: grid;
  // grid-template-rows: auto auto 1fr;
  line-height: 1.3em;
  background-color: $board-bg-color;
  color: $default-text-color;
  .icon {
    font-size: 14px;
    margin: 3px;
  }
}
